.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 5px;
  color: black;
  align-items: center;
  border-radius: 4px;
  gap: 20px;
}

.productTitle {
  padding: 0;
  margin: 0;
}

.productImage {
  height: 200px;
  width:  200px;
  object-fit: contain;
}

.cartImage {
  height: 30px;
}

.cartButton {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2px 20px;
}